/**
 * Pages: Blog
 *
 * Styles for the blog's main archive page.
 */

.blog {

  @extend .fixed-width;

  @media screen and ( min-width: $screen-md ) {
    padding-inline-end: 1rem;
  }
  

  &-list {
   
    margin-block-start: 4rem;

    @media screen and ( min-width: $screen-md ) {
      display: grid;
      gap: 8rem;
      grid-template-columns: minmax(300px, 1fr) 22rem;
    }

  }

}