/**
 * Pages: Coding
 */

.coding {
  // Introduction section.
  &-intro {
    @extend .fixed-width;

    padding-block-start: 2rem;
  }


  // Resume links section.
  &-resume {
    background-color: var(--battleship-gray);
    padding-block: 4rem;
    padding-inline: 2rem;

    // Layout for larger screens.
    @media screen and ( min-width: $screen-md ) {
      padding-inline: 4rem;
    }
  }


  // Featured projects section.
  &-featured {
    padding-block: 2rem;
    padding-inline: 2rem;

    // Layout for larger screens.
    @media screen and ( min-width: $screen-md ) {
      padding-inline: 4rem;
    }

    h2 {
      margin-block-end: 4rem;
    }

    // List of projects.
    ul {
      display: grid;
      gap: 1rem 2rem;
      grid-template-columns: 1fr;
      list-style-type: none;
      margin-inline-start: 0;

      // Layout for larger screens.
      @media screen and ( min-width: $screen-md ) {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      }
    }
  }


  // Individual project block.
  &-project {
    border: 1px solid var(--black);
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    padding-block: 1rem;
    padding-inline: 1.5rem;

    // Layout for larger screens.
    @media screen and ( min-width: $screen-md ) {
      grid-template-columns: 100px 1fr;
    }

    h3 {
      --line-height: 1.5;

      margin-block-start: 0.5rem;
    }

    p {
      --font-size: var(--type-p-smaller);
    }

    // Button style overrides for this page.
    .button {
      margin-block-end: 1rem;
      margin-block-start: 0;
      padding-block: 0.5rem;      
    }
  }
}
