/**
 * Pages: Home
 */

.home {
  // Introduction section.
  &-intro {
    padding-block: 4rem;
    padding-inline: 2rem;

    h2 {
      margin-block-start: 0;
    }

    // Content should not exceed the mad-width.
    div {
      max-width: $max-width;
    }

    // Layout adjustments for smaller screens.
    @media screen and ( max-width: $screen-md ) {
      img {
        display: block;
        max-height: 400px;
        max-width: 90%;
      }
    }

    // Layout for larger screens.
    @media screen and ( min-width: $screen-md ) {
      display: grid;
      gap: 4rem;
      grid-template-columns: minmax(33%, 300px) 2fr;
      padding-inline-start: 0;
    }
  }


  // Book section.
  &-book {
    --text-color: var(--white);

    background-color: var(--cat-writing);
    padding-block: 2rem;
    padding-inline: 4rem;

    // Layout for larger screens.
    @media screen and ( min-width: $screen-md ) {
      align-items: center;
      display: grid;
      gap: 6rem;
      grid-template-columns: repeat(2, 1fr);
    }

    h2 {
      margin-block-start: 1rem;
    }

    a {
      --text-color: var(--silver);
    }

    // Image sub-section.
    &-image {
      margin-block-end: 0;
      overflow-y: hidden;
    }

    // CTA buttons.
    &-buttons {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat( auto-fit, minmax( 10rem, max-content));

      a {
        border: 1px solid var(--white);
        display: inline-block;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        transition: all 0.5s ease;

        &:focus,
        &:hover {
          --text-color: var(--black);

          background-color: var(--coral-red-light-10);
          border-color: var(--coral-red-light-10);
        }
      }
    }
  }


  // Latest article section.
  &-articles {
    @extend .fixed-width;

    h2 {
      margin-block-start: 0;
    }

    ol {
      counter-reset: link 0;
      list-style-type: none;
      margin-inline: 0;

      li {
        background-color: var(--silver-light-15);
        margin-block: 0.75rem;
      }

      a {
        --font-size: var(--type-h4);
        --line-height: 1.8;
        --text-color: var(--black);

        align-items: center;
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: 2rem;
        padding-block: 1.5rem;
        padding-inline: 1rem;
        text-decoration: none;
        transition: all 0.5s ease;

        &:focus,
        &:hover {
          background-color: var(--coral-red-light-25);
        }

        // List numbers that preceed the articles.
        &::before {
          --text-color: var(--coral-red-dark-20);

          // Increment our counter before we get to the list item element,
          // so that we know which number the current article is.
          counter-increment: link;
          content: "[" counter(link) "] => ";
        }
      }
    }
  }
}