/**
 * Pages: Post
 *
 * A single post / article.
 */

.post {
  // The top section of a post, containing the title, category terms, date
  // and social sharing icons.
  &-meta {
    @extend .fixed-width;

    background-color: var( --battleship-gray-light-20 );
    background-image: repeating-linear-gradient(
      180deg,
      var( --battleship-gray-light-20 ),
      var( --battleship-gray-light-20 )  1rem,
      var( --battleship-gray-light-25 )  1rem,
      var( --battleship-gray-light-25 )  1rem * 2
    );


    // Publication date.
    .date {
      --font-size: var( --type-p-smaller );
    }


    // Social sharing icons.
    .share {
      --font-size: var( --type-p-smaller );
    
      a {
        --background-color: var(--black);
        --line-height: 1.5;
        --text-color: var(--white);
    
        background-color: var(--background-color);
        display: inline-block;
        margin-inline: 0.25rem;
        padding-block: 0.3rem;
        padding-inline: 1.25rem;
        text-align: center;
        text-decoration: none;
        transition: all 0.5s ease;
    
        &::before {
          --line-height: 1;
          --text-color: var(--white);  
        }
    
        &:focus,
        &:hover {
          --background-color: var(--coral-red-dark-20);
        }
      }
    }
  }


  // The article itself.
  &-article {
    @extend .fixed-width;

    // Blockquotes, but only used in posts.
    blockquote {
      p {
        background-color: var(--silver-light-15);
        font-style: italic;
        padding-block: 0.9rem;
        padding-inline: 2rem;
      }
    }
  }
}