/**
 * Utility: Fixed width
 */

.fixed-width {

  padding-block: 4rem;
  padding-inline: $page-padding-inline-small;

  @media screen and ( min-width: $screen-md ) {
    padding-inline: $page-padding-inline-large;
  }

}