/**
 * Atoms: Blockquote
 */

blockquote {

  border-left: 0.5rem solid var( --purple );
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1rem 2rem;

  p {
    @include sans-italic;
    font-size: 1.25rem;

    &:last-child {
      margin-bottom: 0;
    } 
  }

}