/**
 * Atoms: Code
 */

code {

  @include monospace;
  --text-color: inherit;

  line-height: 1.5;
  white-space: break-spaces;

  // Make sure HTML tags that might be in a code block has the monospaced font.
  * {
    @include monospace;
  }

  // If the code block is inside a heading, it should be bold.
  h2 & {
    @include monospace-bold;
  }

}
