/**
 * Atoms: Headings
 */

h1 {
  @include monospace;
  --text-color: var( --black );
  --text-size:  var( --type-h1 );

  margin-bottom: 1rem;
}

h2 {
  @include monospace;
  --text-color: var( --black );
  --text-size:  var( --type-h2 );

  clear: both;
  margin: 4rem 0 1rem;

  section & {
    margin-top: 0;
  }
}

h3 {
  @include monospace-bold;
  --text-color: var( --purple );
  --text-size: var( --type-h3 );

  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

h4 {
  --text-size: var( --type-h4 );

  margin-bottom: 0.5rem;
}
