/**
 * Atoms: Headings
 */

h1 {
  @include monospace;
  color: var( --black );
  font-size: var( --type-h1 );
  margin-bottom: 1rem;
}

h2 {
  @include monospace;
  clear: both;
  color: var( --black );
  font-size: var( --type-h2 );
  margin: 4rem 0 1rem;

  section & {
    margin-top: 0;
  }
}

h3 {
  @include monospace-bold;
  color: var( --purple );
  font-size: var( --type-h3 );
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: var( --type-h4 );
  margin-bottom: 0.5rem;
}
