/**
 * ATOMS: Input
 */

input {

  border: 0;
  color: var( --black ) !important;
  display: block;
  font-size: var( --type-small );
  padding: 0.75rem;
  width: 100%;

  &[type=submit] {
    background-color: var( --black-light-20 );
    color: var( --white ) !important;
    cursor: pointer;
    transition: all 1s;

    &:focus,
    &:hover {
      background-color: var( --purple );
    }
  }

}
