/**
 * Atoms: Link
 */

a {

  --link-bg-color: inherit;
  --link-color: var( --copper-dark-20 );

  background-color: var( --link-bg-color );
  color: var( --link-color );
  font-family: inherit;
  transition: all 0.3s;

  &:focus,
  &:hover {
    text-decoration: none;
  }


  // Anything inside a link should inherit the properties of the link.
  * {
    color: inherit;
    font-family: inherit;
  }


  // Variation: Category
  &.category {
    --link-bg-color: var( --copper );
    --link-color:    var( --white );

    border-radius: 0.15rem;    
    display: inline-block;
    font-size: 0.9rem;
    margin-left: 1rem;
    padding: 0 1rem;
    text-decoration: none;

    &:focus,
    &:hover {
      --link-bg-color: var( --black ) !important;
    }

    // Special category colors.
    &.accessibility   { --link-bg-color: var( --cat-accessibility ); }
    &.development     { --link-bg-color: var( --cat-development ); }
    &.life            { --link-bg-color: var( --cat-life ); }
    &.pregnancy       { --link-bg-color: var( --cat-pregnancy ); }
    &.user-experience { --link-bg-color: var( --cat-user-experience ); }
    &.wordpress       { --link-bg-color: var( --cat-wordpress ); }
    &.writing         { --link-bg-color: var( --cat-writing ); }
  }


  // Variation: Button
  &.button {
    --link-bg-color: var( --purple-dark-10 );
    --link-color: var( --white );

    border-radius: 0.25rem;
    display: inline-block;
    font-size: 90%;
    margin: 1rem 1rem 0.5rem 0;
    padding: 0.6rem 2rem !important;
    text-decoration: none;

    &:focus,
    &:hover {
      --link-bg-color: var( --copper-dark-10 );
    }
  }

  // Sections where links should be buttons.
  .button-links & {
    @extend .button;
  }


  // Variation: Skip link
  &.skip-link {
    --link-bg-color: var( --purple );
    --link-color: var( --actual-white );

    left: 50%;
    padding: 0.5rem 1rem;
    position: absolute;
    transform: translateY( -100% );
    transition: transform 0.3s;

    &:focus {
      transform: translateY( 0% );
    }
  }

}
