/**
 * Atoms: List
 */

li {

  --text-size: 1rem;
  --padding-inline: 1rem;

  line-height: var( --line-height );
  margin-block-end: 0.75rem;
  margin-inline-start: 2rem;


  // Variation: Pregnancy tag.
  &.pregnancy-tag {
    list-style-type: none;
    margin: 2rem 0 3rem;

    a {
      --link-bg-color: var( --purple );
      --text-color:    var( --white );
      --text-size:     var( --type-h4 );

      display: block;
      padding: 0.75rem var( --padding-inline );
      text-decoration: none;

      &:focus,
      &:hover {
        --link-bg-color: var( --copper-dark-15 );
      }

      &::after {
        content: '▸';
        display: inline-block;
        position: absolute;
        right: var( --padding-inline );
      }
    }

    span {
      --text-size: 1rem;
      display: block;
      padding: 0.5rem var( --padding-inline );
    }
  }

}

ul, ol {
  margin-block-end: 2rem;
}
