/**
 * Atoms: List
 */

li {

  font-size: var( --type-p );
  line-height: calc( #{ var( --line-height ) } * 0.9 );
  margin-bottom: 0.75rem;
  margin-left: 2rem;


  // Variation: Pregnancy tag.
  &.pregnancy-tag {
    list-style-type: none;
    margin: 1rem 0;

    a {
      --link-bg-color: var( --purple );
      --link-color: var( --white );

      display: block;
      font-size: 1rem;
      padding: 0.75rem 1rem;
      text-decoration: none;

      &:focus,
      &:hover {
        --link-bg-color: var( --copper-dark-10 );
      }
    }
  }

}

ul, ol {
  margin-bottom: 2rem;
}


// Footnotes on posts.
hr + ol {

  margin-bottom: 4rem;

  li {
    font-size: calc( #{ var( --type-p ) } * 0.8 );
    margin-left: 1rem;
  }

}
