/**
 * Atoms: List
 */

li {

  font-size: $type-p;
  line-height: $line-height * 0.9;
  margin-bottom: 0.75rem;
  margin-left: 2rem;


  // Variation: Pregnancy tag.
  &.pregnancy-tag {
    list-style-type: none;
    margin: 1rem 0;


    a {
      background-color: var( --purple );
      color: var( --white );
      display: block;
      font-size: 1rem;
      padding: 0.75rem 1rem;
      text-decoration: none;

      &:focus,
      &:hover {
        background-color: var( --copper-dark-10 );
      }
    }
  }

}

ul, ol {
  margin-bottom: 2rem;
}


// Footnotes on posts.

hr + ol {

  margin-bottom: 4rem;

  li {
    font-size: $type-p * 0.8;
    line-height: $line-height * 0.7;
    margin-left: 1rem;
  }

}
