/**
 * Atoms: Paragraph
 */

p {

  font-size: $type-p;
  line-height: $line-height;
  margin-bottom: 1.5rem;


  // Variation: Date
  &.date {
    @include sans-italic;
    font-size: 0.9rem;
    margin-bottom: 0;
  }


  // Variation: Categories
  &.categories {
    font-size: 1rem;
    margin-bottom: 0 !important;
    margin-top: 0.5rem;
  }


  // Variation: Title
  &.title {
    @include monospace-bold;
    font-size: $type-h4;
    margin-bottom: 0.5rem;

    a {
      color: var( --purple-light-10 );
      text-decoration: none;

      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }


  // Variation: Excerpt
  &.excerpt {
    font-size: 1rem;
  }

}


// Variation: Work title, which is directly after the current work heading.
#current-work + p {
  color: var( --purple );
  font-size: $type-h3;
  margin-bottom: 0;
}
