/**
 * Atoms: Headings
 */

h1 {
  @include sans;
  color: $heading-color;
  font-size: $type-h1;
  margin-bottom: 2rem;
}

h2 {
  @include sans;
  color: $heading-color;
  font-size: $type-h2;
  margin: 4rem 0 2rem;
}

h3 {
  @include sans;
  color: $heading-color-h3;
  font-size: $type-h4;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: $type-h4;
  margin-bottom: 0.5rem;
}
