/**
 * Atoms: Headings
 */

h1 {
  @include monospace;
  color: $heading-color;
  font-size: $type-h1;
}

h2 {
  @include monospace;
  color: $heading-color;
  font-size: $type-h2;
  margin: 4rem 0 1rem;
}

h3 {
  @include monospace;
  font-size: $type-h4;
  margin-top: 2rem;
}

h4 {
  font-size: $type-h4;
  margin-bottom: 0.5rem;
}
