/**
 * Utilities: Has background
 *
 * Special helpers for layout items that have full-bleed backgrounds.
 */


/*
 * Mixin to create all the backgrounds, plain or striped.
 */

@mixin create-background( $bg, $is_striped: 0, $is_dark_bg: 0 ) {
  // For plain backgrounds.
  @if $is_striped == 0 {
    &, &::before {
      background: $bg;
    }
  }

  // Create stripes if we want them.
  @if $is_striped != 0 {
    &::before {
      background: $bg;
      background-image: repeating-linear-gradient(
        180deg,
        $bg,
        $bg 1rem,
        darken( $bg, 3% ) 1rem,
        darken( $bg, 3% ) 2rem );
    }
  }

  // Set the color to white if this is a dark background.
  @if $is_dark_bg != 0 {
    * { 
      --text-color: var( --white );
    }
  }
}



/*
 * Background class.
 */

.has-background {
  // Base styles.
  clear: both;
  margin: 0;

  // Full width.
  @include make-full-width;

  // For sections that should not have a top margin.
  &.remove-top-margin {
    margin-block-start: -4rem !important;
  }

  &.add-top-border {
    border-top: 2px solid var( --white );
  }

  // Color options.
  &.copper      { @include create-background( darken( $copper, 15% ),  0, 1 ) };
  &.grey        { @include create-background( lighten( $black, 5% ),   0, 1 ) };
  &.grey-light  { @include create-background( lighten( $black, 70% )   0, 0 ) };
  &.purple      { @include create-background( $purple,                 0, 1 ) };
  &.timberwolf  { @include create-background( $timberwolf,             1, 0 ) };
}
