/**
 * Utilities: Has Background
 *
 * Special helpers for layout items that have full-bleed backgrounds.
 */

.has-background {
  margin: 0;
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-left: -$page-margin-small;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;

    @media screen and ( min-width: $md ) {
      margin-left: -$page-margin-large;
      padding-left: $page-margin-large;
    }
  }
}

.has-background.copper {
  &::before {
    background: $section-bg-copper;
    background-image: repeating-linear-gradient(
      180deg,
      $section-bg-copper,
      $section-bg-copper 1rem,
      darken( $section-bg-copper, 2% ) 1rem,
      darken( $section-bg-copper, 2% ) 2rem );
  }
}

.has-background.timberwolf {
  &::before {
    background: $section-bg-timberwolf;
    background-image: repeating-linear-gradient(
      180deg,
      $section-bg-timberwolf,
      $section-bg-timberwolf 1rem,
      darken( $section-bg-timberwolf, 2% ) 1rem,
      darken( $section-bg-timberwolf, 2% ) 2rem );
  }
}

.has-background.purple {
  background: $section-bg-purple;
  &::before { background: $section-bg-purple; }
}

.has-background.grey {
  background: $section-bg-grey;
  &::before { background: $section-bg-grey; }
}

.has-background.seaweed {
  background: $section-bg-seaweed;
  &::before { background: $section-bg-seaweed; }
}

.has-background.light-grey {
  background: $section-bg-light-grey;
  &::before { background: $section-bg-light-grey; }
}
