/**
 * Utilities: Icons
 */

.icon::before {
  @include icons;
}

.icon.button::before {
  margin-right: 0.5rem;
}

.icon {
  &-envelop::before {
     content: "\e945";
   }

  &-twitter::before {
    content: "\ea91";
  }

  &-github::before {
    content: "\eab1";
  }

  &-linkedin::before {
    content: "\eac8";
  }

  &-stackoverflow::before {
    content: "\eacf";
  }

  &-play::before {
    content: "\e912";
  }

  &-location::before {
    content: "\e947";
  }

  &-calendar::before {
    content: "\e953";
  }

  &-bubbles::before {
    content: "\e96c";
  }

  &-profile:before {
    content: "\e971";
  }

  &-mug:before {
    content: "\e9a2";
  }

  &-goodreads:before {
    content: "\e91f";
  }
}
