/**
 * Utilities: Icons
 */

.icon::before {
  @include icons;
}

.icon {
  &-envelop::before {
     content: "\e945";
   }

  &-twitter::before {
    content: "\ea96";
  }

  &-github::before {
    content: "\eab0";
  }

  &-linkedin::before {
    content: "\eac9";
  }

  &-stackoverflow::before {
    content: "\ead0";
  }

  &-play::before {
    content: "\e912";
  }

  &-location::before {
    content: "\e948";
  }

  &-calendar::before {
    content: "\e953";
  }

  &-bubbles::before {
    content: "\e96c";
  }

  &-profile:before {
    content: "\e923";
  }
}
