/**
 * Utilities: Make full width
 */

@mixin make-full-width {

  position: relative;

  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-inline-start: calc( #{ var( --page-padding-inline-small ) } * -1 );
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;

    @media screen and ( min-width: $md ) {
      margin-inline-start: calc( #{ var( --page-padding-inline-large ) } * -1 );
      padding-inline-start: var( --page-padding-inline-large )
    }
  }

}


// Keep the indentation to the left, but make the content span all
// the way to the right.
@mixin make-full-width-right {

  @media screen and ( min-width: $lg ) {
    width: $full-width-breakout;
  }

}
