/**
 * Utilities: Make full width
 */

@mixin make-full-width {

  position: relative;

  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-left: calc( #{ var( --page-padding-inline-small ) } * -1 );
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;

    @media screen and ( min-width: $md ) {
      margin-left: calc( #{ var( --page-padding-inline-large ) } * -1 );
      padding-left: var( --page-padding-inline-large )
    }
  }

}
