/**
 * Global: Colors
 */

// Neutral colors.
$black:        #222;
$white:        #f0f0f0;
$actual-white: #fff;

// Primary colors.
// https://coolors.co/542344-b26e63-f7e1d7-dedbd2-00798c-30638e-003d5b
$champagne:    #f7e1d7;
$copper:       #b26e63;
$purple:       #542344;
$seaweed:      #00798c;
$tart-orange:  #c65050;
$timberwolf:   #dedbd2;

// Secondary colors.
$cadet-blue:   #6faaaf;
$green:        #95ae4a;
$indigo:       #003d5b;
$tuscan-red:   #834954;


:root,
::after,
::before {

  // Neutral colors.
  --black:         #{$black};
  --white:         #{$white};
  --actual-white:  #{$actual-white};


  // Primary colors.
  --champagne:   #{$champagne};
  --copper:      #{$copper};
  --purple:      #{$purple};
  --seaweed:     #{$seaweed};
  --tart-orange: #{$tart-orange};
  --timberwolf:  #{$timberwolf};


  // Secondary colors.
  --indigo:      #{$indigo};
  --tuscan-red:  #{$tuscan-red};
  --cadet-blue:  #{$cadet-blue};
  --green:       #{$green};


  // RGB versions of colors for opacity making.
  --white-rgb:        240,240,240;
  --actual-white-rgb: 255,255,255;


  // Darker tints
  --copper-dark-10:      #{ darken( $copper, 10% ) };
  --copper-dark-20:      #{ darken( $copper, 20% ) };
  --copper-dark-30:      #{ darken( $copper, 30% ) };

  --green-dark-10:       #{ darken( $green, 10% ) };
  --green-dark-20:       #{ darken( $green, 20% ) };

  --purple-dark-10:      #{ darken( $purple, 10% ) };

  --tart-orange-dark-10: #{ darken( $tart-orange, 10% ) };
  --tart-orange-dark-20: #{ darken( $tart-orange, 20% ) };

  --timberwolf-dark-10:  #{ darken( $timberwolf, 10% ) };


  // Lighter tints
  --black-light-10:      #{ lighten( $black, 10% ) };
  --black-light-20:      #{ lighten( $black, 20% ) };
  --black-light-30:      #{ lighten( $black, 30% ) };
  --black-light-40:      #{ lighten( $black, 40% ) };

  --purple-light-10:     #{ lighten( $purple, 10% ) };


  // Reusable category colors.
  --cat-accessibility:   var( --tart-orange );
  --cat-development:     var( --purple );
  --cat-life:            var( --copper );
  --cat-pregnancy:       var( --tuscan-red );
  --cat-user-experience: var( --indigo );
  --cat-wordpress:       var( --seaweed );
  --cat-writing:         var( --green-dark-10 );

}
