/**
 * Global: Colors
 */

// Neutral colors.
$black:        #222;
$white:        #f0f0f0;
$actual-white: #fff;


// Primary colors.
// https://coolors.co/542344-c97064-e5e2dc-30638e-60992d
$purple:       #542344;
$copper:       #c97064;
$timberwolf:   #e5e2dc;
$blue:         #30638e;


// Auxiliary colors (for additional blog tags).
$indigo:       #003d5b;
$tuscan-red:   #834954;


// Book colors.
$green:        #60992d;
$tart-orange:  #c65050;



:root,
::after,
::before {

  // Neutral colors.
  --black:         #{$black};
  --white:         #{$white};
  --actual-white:  #{$actual-white};


  // Primary colors.
  --purple:      #{$purple};
  --copper:      #{$copper};
  --timberwolf:  #{$timberwolf};
  --blue:        #{$blue};
  

  // Auxiliary colors.
  --indigo:      #{$indigo};
  --tuscan-red:  #{$tuscan-red};


  // Book colors.
  --green:       #{$green};
  --tart-orange: #{$tart-orange};


  // RGB versions of colors for opacity making.
  --black-rgb:        34,34,34;
  --white-rgb:        240,240,240;
  --actual-white-rgb: 255,255,255;


  // Darker tints
  --copper-dark-15:      #{ darken( $copper, 15% ) };
  --copper-dark-20:      #{ darken( $copper, 20% ) };
  --copper-dark-30:      #{ darken( $copper, 30% ) };

  --green-dark-10:       #{ darken( $green, 10% ) };

  --purple-dark-10:      #{ darken( $purple, 10% ) };

  --tart-orange-dark-5: #{ darken( $tart-orange, 5% ) };
  --tart-orange-dark-10: #{ darken( $tart-orange, 10% ) };
  --tart-orange-dark-20: #{ darken( $tart-orange, 20% ) };


  // Lighter tints
  --black-light-10:      #{ lighten( $black, 10% ) };
  --black-light-20:      #{ lighten( $black, 20% ) };
  --black-light-30:      #{ lighten( $black, 30% ) };
  --black-light-40:      #{ lighten( $black, 40% ) };
  --black-light-50:      #{ lighten( $black, 50% ) };

  --purple-light-10:      #{ lighten( $purple, 10% ) };


  // Reusable category colors.
  --cat-accessibility:   var( --tart-orange-dark-5 );
  --cat-development:     var( --purple );
  --cat-life:            var( --copper-dark-15 );
  --cat-pregnancy:       var( --tuscan-red );
  --cat-user-experience: var( --indigo );
  --cat-wordpress:       var( --blue );
  --cat-writing:         var( --green-dark-10 );

}
