/**
 * Global: Reset
 */

* {
  @include sans;
  --text-color: var( --black );
  --text-size: 100%;

  box-sizing: border-box;
  color: var( --text-color );
  font-size: var( --text-size );
  font-weight: 400;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    color: var( --text-color );
    font-size: var( --text-size );
  }
}

br {
  clear: both;
}

strong, b {
  @include sans-bold;
}

em, i {
  @include sans-italic;
}
