/**
 * Global: Reset
 */

* {
  @include sans;
  box-sizing: border-box;
  color: var( --black );
  font-size: 100%;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

br {
  clear: both;
}

strong, b {
  @include sans-bold;
}

em, i {
  @include sans-italic;
}
