/**
 * Global: Sizes
 */

// Screen sizes.
$md:                  800px;
$lg:                  1000px;


// Content width.
$logo-size:           4rem;
$logo-size-half:      $logo-size / 2;

$max-width:           760px;

$archive-width:       calc( 100vw - 14rem );

:root,
::after,
::before {
  --type-nameplate: 3.4rem;
  --type-h1:        2.441rem;
  --type-h2:        1.953rem;
  --type-h3:        1.563rem;
  --type-h4:        1.25rem;
  --type-p:         1.05rem;
  --type-small:     0.9rem;

  --line-height:    1.75;

  --page-padding-inline-small:  2rem;
  --page-padding-inline-large:  14rem;
}
