/**
 * Global: Colors
 */

// Neutral colors.
$black:   #222;
$white:   #fff;


// Primary color palette.
$purple:  #542344;
$copper:  #b26e63;
$green:   #9da9a0;
$khaki:   #cec075;


// Component color definitions.
$background-color:     $black;
$color:                $white;

$header-box-color-1:   $purple;
$header-box-color-2:   $green;
$header-box-color-3:   $copper;
$header-box-color-4:   $khaki;

$heading-color:        $white;

$image-border:         $white;

$link-color:           lighten( $copper, 10% );

$nameplate-color:      $white;
$nameplate-logo-bg:    $purple;

$section-bg:           darken( $green, 35% );

$site-header-border:   lighten( $black, 30% );

$tagline:              lighten( $black, 60% );

$work-example-bg:      darken( $green, 30% );
