/**
 * Global: Colors
 */

// Neutral colors.
$black:   #222;
$white:   #f0f0f0;


// Primary color palette.
$purple:      #542344;
$copper:      #b26e63;
$champagne:   #f7e1d7;
$timberwolf:  #dedbd2;


// Component color definitions.
$background-color:        $white;
$color:                   $black;

$figure-bg:               lighten( $background-color, 10% );
$figure-shadow:           lighten( $black, 50 );

$header-box-color-1:      $purple;
$header-box-color-2:      $champagne;
$header-box-color-3:      $copper;
$header-box-color-4:      $timberwolf;

$heading-color:           $black;
$heading-color-h3:        $purple;

$image-border:            $black;

$link-color:              darken( $copper, 10% );
$link-category-bg:        $purple;
$link-category-bg-hover:  darken( $champagne, 50% );
$link-category-color:     $white;
$link-title-color:        lighten( $purple, 10% );

$nameplate-color:         $black;
$nameplate-logo-bg:       $purple;

$nav-primary:             darken( $copper, 10% );

$section-bg-champagne:    darken( $champagne, 15% );
$section-bg-timberwolf:   $timberwolf;

$site-header-border:      lighten( $black, 30% );

$tagline:                 lighten( $black, 20% );

$work-example-bg:         $timberwolf;
