/**
 * Global: Colors
 */

// Neutral colors.
$black:        #222;
$white:        #fff;


// Primary color palette.
$deep-purple:  #2b0549;
$lavender:     #b38d97;

$green:        #9ABCA7;
$feldgrau:     #4C6663;


// Component color definitions.
$header-box-color-1:   $deep-purple;
$header-box-color-2:   $lavender;
$header-box-color-3:   $feldgrau;
$header-box-color-4:   $green;

$heading-color:        darken( $deep-purple, 10% );

$link-color:           darken( $lavender, 20% );

$nameplate-color:      darken( $deep-purple, 10% );
$nameplate-logo-bg:    darken( $deep-purple, 10% );

$tagline:              lighten( $black, 30% );
