/**
 * Global: Fonts
 */

// Font definitions.
@font-face {
  font-family: 'Raleway';
  src: url( '../fonts/Raleway-Regular.ttf' ) format( 'truetype' );
}

@font-face {
  font-family: 'RalewayBold';
  src: url( '../fonts/Raleway-Bold.ttf' ) format( 'truetype' );
}

@font-face {
  font-family: 'RalewayItalic';
  src: url( '../fonts/Raleway-Italic.ttf' ) format( 'truetype' );
}

@font-face{
  font-family: 'Consolas';
  src: url( '../fonts/Consolas.ttf' ) format( 'truetype' );
}


// Reusable font mixins.
@mixin sans-regular {
  font-family: 'Raleway', sans-serif;
}

@mixin sans-bold {
  font-family: 'Raleway-Bold', sans-serif;
}

@mixin sans-italic {
  font-family: 'Raleway-Italic', sans-serif;
}

@mixin monospace {
  font-family: 'Consolas', monospace;
}
