/**
 * Global: Fonts
 */

// Font definitions.
@font-face {
  font-family: 'Raleway';
  src: url( '../fonts/Raleway-Regular.ttf' ) format( 'truetype' );
}

@font-face {
  font-family: 'Roboto';
  src: url( '../fonts/RobotoMono-Light.ttf' ) format( 'truetype' );
}

@font-face {
  font-family: 'RobotoBold';
  src: url( '../fonts/RobotoMono-Bold.ttf' ) format( 'truetype' );
}

@font-face {
  font-family: 'RobotoItalic';
  src: url( '../fonts/RobotoMono-LightItalic.ttf' ) format( 'truetype' );
}


// Reusable font mixins.
@mixin sans {
  font-family: 'Raleway', sans-serif;
}

@mixin monospace {
  font-family: 'Roboto', monospace;
}

@mixin monospace-bold {
  font-family: 'RobotoBold', monospace;
}

@mixin monospace-italic {
  font-family: 'RobotoItalic', monospace;
}
