/**
 * Global: Reset
 */

* {
  @include monospace;
  box-sizing: border-box;
  color: $color;
  font-size: 100%;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

br {
  clear: both;
}

strong, b {
  @include monospace-bold;
}

em, i {
  @include monospace-italic;
}
