/**
 * Global: Sizes
 */

// Screen sizes.
$md: 800px;

// Content width.
$max-width:  760px;
$logo-width: 4rem;

// Typography sizes.
$type-h1: 3.052rem;
$type-h2: 2.441rem;
$type-h3: 1.953rem;
$type-h4: 1.563rem;
$type-p:  1.15rem;
