/**
 * Global: Sizes
 */

// Screen sizes.
$md:                  800px;


// Content width.
$header-box-width:    4rem;
$header-strip-height: 3rem;

$logo-height:         1rem;
$logo-size:           2rem;
$logo-size-quarter:   $logo-size / 4;

$page-margin-small:   2rem;
$page-margin-large:   14rem;

$max-width:           760px;


// Typography sizes.
$line-height:         1.75;

$type-h1:             3.052rem;
$type-h2:             2.441rem;
$type-h3:             1.953rem;
$type-h4:             1.563rem;
$type-p:              1.1rem;
