/**
 * Atoms: Code
 */

code {

  --text-color: inherit;
  
  line-height: 1.5;
  white-space: break-spaces;

  // If the code block is inside a heading, it should be bold.
  h2 & {
    font-weight: bold;
  }

}
