/**
 * Atoms: Input
 */

input {

  --text-size: var( --type-small );

  border: 0;
  display: block;
  padding: 0.75rem;
  width: 100%;

  &[type=text],
  &[type=email] {
    --text-color: var( --black ) !important;
  }

  &[type=submit] {
    --text-color: var( --white );

    background-color: var( --black-light-20 );    
    cursor: pointer;
    transition: all 1s;

    &:focus,
    &:hover {
      background-color: var( --purple );
    }
  }

}
