/**
 * Atoms: Link
 */

a {

  --link-bg-color: inherit;
  --text-color:    var( --copper-dark-20 );
  --text-size:     inherit;

  background-color: var( --link-bg-color );
  font-family: inherit;
  transition: all 0.3s;

  &:focus,
  &:hover {
    text-decoration: none;
  }


  // Anything inside a link should inherit the properties of the link.
  * {
    --text-color: inherit;
  
    font-family: inherit;
  }


  // Variation: Category
  &.category {
    --link-bg-color: var( --copper );
    --text-color:    var( --white );
    --text-size:     var( --type-small );

    border-radius: 0.15rem;    
    display: inline-block;
    margin-inline-start: 1rem;
    padding: 0 1rem;
    text-decoration: none;

    &:focus,
    &:hover {
      --link-bg-color: var( --black ) !important;
    }

    // Special category colors.
    &.accessibility   { --link-bg-color: var( --cat-accessibility ); }
    &.development     { --link-bg-color: var( --cat-development ); }
    &.life            { --link-bg-color: var( --cat-life ); }
    &.pregnancy       { --link-bg-color: var( --cat-pregnancy ); }
    &.user-experience { --link-bg-color: var( --cat-user-experience ); }
    &.wordpress       { --link-bg-color: var( --cat-wordpress ); }
    &.writing         { --link-bg-color: var( --cat-writing ); }
  }


  // Variation: Button
  &.button {
    --link-bg-color: var( --purple-dark-10 );
    --link-bg-hover: var( --copper-dark-15 );
    --text-color:    var( --white );
    --text-size:     90%;

    border-radius: 0.25rem;
    display: inline-block;
    margin-block: 1rem;
    margin-inline-end: 0.5rem;
    padding: 0.5rem 2rem !important;
    text-decoration: none;

    &:focus,
    &:hover {
      --link-bg-color: var( --link-bg-hover );
    }

    // Copper variation of the button variation
    &-copper {
      --link-bg-color: var( --tart-orange-dark-5 );
      --link-bg-hover: var( --tart-orange );
    }
  }

  // Sections where links should be buttons.
  .button-links & {
    @extend .button;
  }

}
