/**
 * Pages: Reading
 */

.reading {
  // Introduction section.
  &-intro {
    @extend .fixed-width;

    padding-block: 2rem;
  }


  // Navigation (by year).
  &-nav {
    @extend .fixed-width;

    background-color: var(--battleship-gray-light-30);
    padding-block: 2rem;

    p {
      margin-block-end: 0;
    }

    // List of years.
    ul {
      display: inline;
      list-style-type: none;
      margin-inline-start: -0.5rem;
    }

    // Individual year.
    li {
      display: inline;

      &::before {
        content: '|';
      }

      &:first-of-type::before {
        content: '';
      }

      a {
        padding-inline: 0.5rem;
      }
    }
  }


  // Book list section.
  &-list {

    // All elements inside this section get inline padding. We are not putting
    // the padding on the section itself because we want the border / divider
    // to span the width of the window.
    h2, 
    p,
    table {
      padding-inline: 2rem;

      // Layout for larger screens.
      @media screen and ( min-width: $screen-md ) {
        padding-inline: 4rem;
      }
    }

    // Section headings.
    h2 {
      border-block-start: 4px solid var(--battleship-gray-light-30);
      margin-block-end: 0;
      padding-block-start: 2rem;

      &:first-of-type {
        border-block-start: 0;
      }
    }

    // Book count paragraphs.
    .book-count {
      --font-size: var(--type-p-smaller);

      font-style: italic;
    }

    // Back to top link.
    .back-to-top {
      margin-block-end: 4rem;
      margin-block-start: 1rem;
    }
  }
}