<article class="article-snip" aria-label="{{ post.title | strip_html }}">

  {% comment %}
    We do not want to show category names for the pregnancy section, because
    those posts only have the one category name and that section has its own
    special layout. We do want to show category names for all other categories,
    because many of those posts have multiple categories.
  {% endcomment %}
  {% unless post.categories contains "pregnancy" %}
    <p class="categories">
      {% for category in post.categories %}
        <a href="/blog/{{category | replace: '_', '-' }}/" class="category {{category | replace: '_', '-' }}">{{ category | replace: "_", " " }}</a>
      {% endfor %}
    </p>
  {% endunless %}

  <p class="title">
    <a href="{{ post.url }}">{{ post.title }}</a>
  </p>

  <p class="date">
    {{ post.date | date_to_long_string }}
  </p>

  <p class="excerpt">
    {{ post.content | strip_html | truncatewords:40 }}
  </p>

</article>
