<article class="article-excerpt" aria-label="{{ post.title | strip_html }}">

  <p class="categories">
    {% for category in post.categories %}
      <a href="/blog/{{category | replace: '_', '-' }}/" class="category {{category | replace: '_', '-' }}">{{ category | replace: "_", " " }}</a>
    {% endfor %}
  </p>

  <h3>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </h3>

  <p class="date">
    {{ post.date | date_to_long_string }}
  </p>

  <p>
    {{ post.excerpt | strip_html }}
  </p>

</article>
