{% assign categories = site.categories | sort %}

<section class="category-list" aria-label="Category list">

  <h2>All Topics</h2>

  <ul>
    {% for category in categories %}
      <li>
        {% if page.url contains category[0] %}
          <span>{{ category[0] | replace: '-', ' ' }}</span>
        {% else %}
          <a href="/blog/{{ category[0] }}">{{ category[0] | replace: '-', ' ' }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <h2>Follow Me</h2>

  <ul>
    <li><a href="/feed.xml">rss feed</a></li>
    <li><a href="https://twitter.com/jonihalabi">twitter @jonihalabi</a></li>
  </ul>

</section>
