{% assign categories = site.categories | sort %}

<section class="category-list" aria-label="All blog categories">
  <div class="category-list-container">

    <p>Categories</p>

    <ul class="categories">
      {% for category in categories %}

        {% if page.url contains category[0] %}
          <li class="current">
            {{ category[0] | replace: '-', ' ' }}
          </li>
        {% else %}
          <li>
            <a href="/blog/{{ category[0] }}/" class="category {{ category[0] }}">{{ category[0] | replace: '-', ' ' }}</a>
          </li>
        {% endif %}
        </li>

      {% endfor %}
    </ul>

  </div>
</section>
