{% assign categories = site.categories | sort %}

<section class="category-list" aria-label="Blog categories">

  <h2>
    <a href="/blog">All Topics</a>
  </h2>

  <ul>
    {% for category in categories %}

      <li>
        {% if page.url contains category[0] %}
          <span>{{ category[0] | replace: '-', ' ' }}</span>
        {% else %}
          <a href="/blog/{{ category[0] }}/" class="category-list-link">{{ category[0] | replace: '-', ' ' }}</a>
        {% endif %}
      </li>

    {% endfor %}
  </ul>

  <h2>Follow me</h2>

  <ul>
    <li><a href="/feed.xml" class="category-list-link">rss feed</a></li>
    <li><a href="https://twitter.com/jonihalabi" class="category-list-link">twitter @jonihalabi</a></li>
  </ul>

</section>
