<section class="newsletter-signup has-background orange" aria-label="Newsletter signup">

  <p>
    Subscribe to <b>The Blinking Cursor</b> for web development news, book
    updates, and other randomness.
  </p>

  <!-- Begin ButtonDown signup Form -->
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/joni.halabi"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/joni.halabi', 'popupwindow')"
    class="newsletter-signup-form"
  >
    <label for="bd-email" class="sr-only">Enter your email</label>

    <div class="newsletter-signup-fields">
      <input type="email" name="email" id="bd-email" placeholder="Enter your email">
      <input type="submit" value="Subscribe">
    </div>
  </form>
  <!--End ButtonDown -->

</section>
