<nav class="has-background grey-light pagination" aria-label="Pagination">

  <span>More articles:</span>

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination-advance" aria-label="Previous page">&#10094;</a>
  {% else %}
    <span class="pagination-inactive">&#10094;</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="pagination-current">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{ '/blog/' | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="pagination-advance" aria-label="Next page">&#10095;</a>
  {% else %}
    <span class="pagination-inactive">&#10095;</span>
  {% endif %}

</nav>
