<nav class="pagination" aria-label="Pagination">

  <p>More articles:</p>

  <ul>

    {% if paginator.previous_page %}
      <li>
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination-advance pagination-prev">Prev</a>
      </li>
    {% else %}
      <li class="pagination-inactive pagination-prev">Prev</li>
    {% endif %}


    {% assign first_page = paginator.page | minus: 2 %}
    {% if first_page < 1 %}
      {% assign first_page = 1 %}
    {% endif %}

    {% assign last_page = paginator.page | plus: 2 %}
    {% if last_page > paginator.total_pages %}
      {% assign last_page = paginator.total_pages %}
    {% endif %}


    {% if first_page >= 3 %}
      <li>
        <a href="{{ '/blog/' | relative_url }}">1</a> ..
      </li>
    {% endif %}


    {% for page in (first_page..last_page) %}
      {% if page == paginator.page %}
        <li class="pagination-current">{{ page }}</li>
      {% elsif page == 1 %}
        <li>
          <a href="{{ '/blog/' | relative_url }}">{{ page }}</a>
        </li>
      {% else %}
        <li>
          <a href="/blog/page/{{ page }}/">{{ page }}</a>
        </li>
      {% endif %}
    {% endfor %}


    {% assign max_for_last_page = paginator.total_pages | minus: 2 %}
    {% if last_page <= max_for_last_page %}
      <li>
        .. <a href="/blog/page/{{ paginator.total_pages }}/">{{ paginator.total_pages }}</a>
      </li>
    {% endif %}


    {% if paginator.next_page %}
      <li>
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination-advance pagination-next">Next</a>
      </li>
    {% else %}
      <li class="pagination-inactive pagination-next">Next</li>
    {% endif %}

  </ul>
</nav>
