<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8" />
</head>

<body>

  <header class="site-header">
    <p class="nameplate">
      <a href="/">Joni Halabi</a>
    </p>

    <p class="tagline">
      Web developer, Mom, Runner, Baker, Music lover, Reader, Chaotic neutral
    </p>

    <nav class="nav-primary" aria-label="Main">
      <ul>
        <li><a href="/" {% if page.dir == '/' %}class="current"{% endif %}>Home</a></li>
        <li><a href="/about" {% if page.url contains '/about' %}class="current"{% endif %}>About</a></li>
        <li><a href="/work" {% if page.url contains '/work' %}class="current"{% endif %}>Work</a></li>
        <li><a href="/speaking" {% if page.url contains '/speaking' %}class="current"{% endif %}>Speaking</a></li>
        <li><a href="/writing" {% if page.url contains '/writing' %}class="current"{% endif %}>Writing</a></li>
        <li><a href="/contact" {% if page.url contains '/contact' %}class="current"{% endif %}>Contact</a></li>
      </ul>
    </nav>
  </header>
