  <footer>
    <div class="footer-code has-background purple">
      <div>
        <p>const thatDevGirl = {</p>
        <dl>
          <dt>name:</dt>
          <dd>'Joni Halabi',</dd>
          <dt>description:</dt>
          <dd>'Web developer, speaker, and writer',</dd>
          <dt>location:</dt>
          <dd>'Washington DC',</dd>
          <dt>twitter:</dt>
          <dd>'<a href="https://twitter.com/jonihalabi">@jonihalabi</a>',</dd>
          <dt>blog_rss:</dt>
          <dd>'<a href="/feed.xml">/feed.xml</a>',</dd>
          <dt>status:</dt>
          <dd>'Coding, writing, and playing with my kiddo. She would like to inform you all that she is a big girl. <a href="/contact/">OK for chatting.</a>'</dd>
        </dl>
        <p>};</p>
      </div>
    </div>

    <div class="footer-copyright has-background grey">
      <div>
        <p>
          Copyright &copy; {{ 'now' | date: '%Y' }} Joni Halabi.

          <span id="day-0">Happy Sunday! Today is French toast day in our house.</span>
          <span id="day-1">Whelp, it's Monday. Go ahead and have that extra cup of tea.</span>
          <span id="day-2">Happy "We survived Monday" day! Otherwise known as Tuesday!</span>
          <span id="day-3">Ah... Wednesday. So close, yet so far.</span>
          <span id="day-4">It's Thursday! Almost there!</span>
          <span id="day-5">Happy Friday! We made it!</span>
          <span id="day-6">It's the weekend. Hooray!</span>
        </p>
      </div>
    </div>
  </footer>

  <script>
    const d=new Date(); const n=d.getDay();document.getElementById('day-'+n).classList.add('show');
  </script>

</body>
</html>
