<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8" />
</head>

<body>

  <header class="site-header">
    <h1 class="nameplate">
      <a href="/">Joni Halabi</a>
    </h1>

    <nav class="nav-primary" aria-label="Main">
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/speaking">Speaking</a></li>
        <li><a href="/writing">Writing</a></li>
      </ul>
    </nav>
  </header>
