<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    {%- if page.dir != '/' -%}
      {% assign strike_text = page.title | split: "<strike>" | last | split: "</strike>" | first %}
      {% assign delete_strike = '<strike>' | append: strike_text | append: '</strike>' %}

      {% assign italics_text = page.title | split: "<i>" | last | split: "</i>" | first %}
      {% assign delete_italics = '<i>' | append: italics_text | append: '</i>' %}

      {{ page.title | remove: delete_strike | replace: delete_italics, italics_text }}
      |
    {% endif -%}

    {{ site.title -}}
    {%- if page.dir == '/' -%}: Web developer. Author. Speaker.{%- endif -%}
  </title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css?v=20240802">

  <meta name="description" content="Joni Halabi is a web developer, author of Sweet Little You, and conference speaker who writes technical articles, as well as creative works that focus on life as a single mother by choice.">
  <meta name="keywords" content="web developer, wordpress, author, writer, speaker, instructor, teacher, gutenberg, javascript, sweet little you, kid lit, single mother by choice, donor conceived">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
  <link rel="manifest" href="/assets/icons/site.webmanifest">
  <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#b26e63">
  <link rel="shortcut icon" href="/assets/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#222222">
  <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
  <meta name="theme-color" content="#222222">
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LMXWQM7X1W"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-LMXWQM7X1W');
  </script>
</head>



<body>
  <nav aria-label="Skip link">
    <a href="#main" class="skip-link">Skip to content</a>
  </nav>

  <header class="site-header">
    {% if page.dir == '/' %}
      <h1 class="nameplate">
        <a href="/">Joni Halabi</a>
      </h1>
    {% else %}
      <p class="nameplate">
        <a href="/">Joni Halabi</a>
      </p>
    {% endif %}

    <p class="tagline">
      web developer, author, speaker, single mom, runner, music lover, chatty introvert
    </p>

    <nav class="nav-primary" aria-label="Main">
      <ul>
        <li {% if page.dir == '/'                %}class="current"{% endif %}><a href="/" aria-label="Home">.{% if page.dir != '/' %}.{% endif %}</a></li>
        <li {% if page.url contains '/book/'     %}class="current"{% endif %}><a href="/book/"     >Book</a></li>
        <li {% if page.url contains '/blog/'     %}class="current"{% endif %}><a href="/blog/"     >Blog</a></li>
        <li {% if page.url contains '/speaking/' %}class="current"{% endif %}><a href="/speaking/" >Speaking</a></li>
        <li {% if page.url contains '/coding/'   %}class="current"{% endif %}><a href="/coding/"   >Coding</a></li>
        <li {% if page.url contains '/contact/'  %}class="current"{% endif %}><a href="/contact/"  >Contact</a></li>
      </ul>
    </nav>
  </header>
