/**
 * Global: Site header
 */

.site-header {

  --page-padding-inline: var( --page-padding-inline-small );

  border-bottom: 2px solid var( --black );
  padding-block: 4rem;
  padding-inline: $page-padding-inline-small;

  @media screen and ( min-width: $screen-md ) {
    padding-inline: $page-padding-inline-large;
  }

}
