/**
 * Utilities: Icons
 */

.icon {

  // All icons get the icon font and styling to make them appear before content.
  &::before {
    @include icons;
    display: inline-block;
    margin-inline-end: 0.5rem;
    width: 1rem;
  }

  // Specific icon characters.
  &-calendar::before      { content: "\e801"; }
  &-chat::before          { content: "\e802"; }
  &-coffee::before        { content: "\f0f4"; }
  &-envelope::before      { content: "\f2b6"; }
  &-facebook::before      { content: "\f308"; }
  &-github::before        { content: "\f09b"; }
  &-goodreads::before     { content: "\e800"; }
  &-instagram::before     { content: "\f16d"; }
  &-linkedin::before      { content: "\f0e1"; }
  &-location::before      { content: "\e803"; }
  &-mastodon::before      { content: "\e809"; }
  &-pinterest::before     { content: "\f0d2"; }
  &-play::before          { content: "\e804"; }
  &-profile::before       { content: "\e805"; }
  &-quote-left::before    { content: "\e806"; }
  &-quote-right::before   { content: "\e807"; }
  &-stackoverflow::before { content: "\e808"; }
  &-twitter::before       { content: "\f099"; }

}
