/**
 * Components: Categories
 *
 * Category links that exist on the blog archive and individual article pages.
 */

.categories {

  // Default category color.
  --category-color: var(--black);

  // Common class for all category links.
  .category {
    --font-size: var(--type-small);

    background-color: var(--category-color);
    color: var(--white);
    display: inline-block;
    padding-inline: 1rem;
    text-decoration: none;
    transition: all 0.5s ease;

    &:hover,
    &:focus {
      --category-color: var(--silver-light-15);

      color: var(--black);
    }
    
  }

  // Each category gets its own color.
  .accessibility               { --category-color: var(--cat-accessibility); }
  .development                 { --category-color: var(--cat-development); }
  .life                        { --category-color: var(--cat-life); }
  .pregnancy                   { --category-color: var(--cat-pregnancy); }
  .user-experience             { --category-color: var(--cat-user-experience); }
  .wordpress                   { --category-color: var(--cat-wordpress); }
  .writing                     { --category-color: var(--cat-writing); }

}
