/**
 * Components: Category list
 */

.category-list {

  padding-inline-start: 2rem;

  // Only larger screens get the border.
  @media screen and ( min-width: $screen-md ) {
    border-inline-start: 1px solid var(--battleship-gray-light-30);
  }

  // The (`div`) container is required in order to make the category list
  // sticky.
  &-container {
    position: sticky;
    top: 1.5rem;
  }
  
  // Labels.
  p {
    --font-size: var(--type-h4);

    margin-block-end: 0.5rem;
  }

  // The category list.
  .categories {

    list-style-type: none;
    margin-block-end: 4rem;
    margin-inline-start: 0;

    li {
      display: inline-block;
      margin-block: 0.5rem;
    }

  }
}