/**
 * Components: Donate section.
 */

.donate-section {
  @extend .fixed-width;

  background-color: var(--battleship-gray-light-25);
  margin-block-end: 1px;
  margin-block-start: 4rem;
  padding-block: 2rem;

  p {
    --font-size: var(--type-p-smaller);
    --line-height: 1.6;

    margin-block: 0;
    text-align: center;
  }

  a {
    --font-size: var(--type-p);
  }
}