/**
 * Components: Post Share
 *
 * Social media sharing links, used on posts.
 */

.post-share {

  --font-size: var( --type-small );

  a {
    --background-color: var(--black);
    --line-height: 1.5;
    --text-color: var(--white);

    background-color: var(--background-color);
    display: inline-block;
    margin-inline: 0.25rem;
    padding-inline: 1rem;
    text-align: center;
    transition: all 0.5s ease;

    &::before {
      --line-height: 1;
      --text-color: var(--white);  
    }

    &:focus,
    &:hover {
      --background-color: var(--coral-red-dark-20);
    }
  }

}