<footer>

    <div class="footer-top">
  
      <div class="footer-top-code">
        <p>const joni = {</p>
        <dl>
          <dt>"description":</dt>
          <dd>"Website creator, author, and conference speaker who writes technical articles, as well as creative works that focus on life as a single mother by choice.",</dd>
          <dt>"press_kit":</dt>
          <dd>"<a href="/press-kit/">Biographies, book information, and photos for public use</a>"</dd>
        </dl>
        <p>};</p>
      </div>
  
      <ul class="footer-top-socials">
        <li>
          <a href="/feed.xml" class="ri-rss-fill">Blog feed</a>
        </li>
  
        <li>
          <a href="https://www.instagram.com/jonihalabi/" class="ri-instagram-fill">Instagram</a>
        </li>
  
        <li>
          <a href="https://www.linkedin.com/in/jonihalabi/" class="ri-linkedin-fill">LinkedIn</a>
        </li>

        <li>
          <a href="https://bsky.app/profile/jonihalabi.bsky.social" class="ri-bluesky-fill">Bluesky</a>
        </li>
      </ul>
  
    </div>
  
  
  
    <div class="footer-copyright">
      <div>
        <p>
          Copyright &copy; {{ 'now' | date: '%Y' }} Joni Halabi. All rights reserved.
  
          <span id="day-0">Happy Sunday! Today is French toast day in our house.</span>
          <span id="day-1">Whelp, it's Monday. Go ahead and have that extra cup of tea.</span>
          <span id="day-2">Happy "We survived Monday" day! Otherwise known as Tuesday.</span>
          <span id="day-3">Ah... Wednesday. So close, yet so far.</span>
          <span id="day-4">It's Thursday. Almost there!</span>
          <span id="day-5">Happy Friday. We made it!</span>
          <span id="day-6">It's the weekend. Hooray!</span>
        </p>
      </div>
    </div>
  </footer>
  
  <script>
    const d=new Date(); const n=d.getDay();document.getElementById('day-'+n).classList.add('show');
  </script>
  
</body>
</html>
