/**
 * Global: Site footer
 */

.footer {
  clear: both;


  // The top of the footer section, including my code/mini-bio block and 
  // social links.
  &-top {
    --text-color: var(--white);
 
    background-color: var( --dark-purple );
    padding: 4rem;

    @media screen and (min-width: $screen-md) {
      display: grid;
      grid-gap: 6rem;
      grid-template-columns: 1fr 350px;
    }


    // Code block.
    &-code {
      p:first-of-type {
        --font-size: var(--type-h3);

        margin-block-end: 0;
      }

      dl {
        display: grid;
        grid-template-columns: 8rem 1fr;
        margin-inline-start: 2rem;
      }
    }


    // Social block.
    &-socials {
      p {
        --font-size: var(--type-h3);
      }
    }
  }


  // Copyright block.
  &-copyright {
    @extend .fixed-width;

    background-color: var(--battleship-gray);
    padding-block: 2rem;

    p {
      --font-size: var(--type-small);

      margin: 0;
    }
  }


  // Day of the week messages.
  #day {
    &-0, &-1, &-2, &-3, &-4, &-5, &-6  {
      display: none;

      &.show {
        display: inline;
      }
    }
  }
}
