/***
 * Pages: Book media kit
 */

.book-media {

  // Media contact section.
  &-contact {
    margin-block-start: 0 !important;

    @media screen and ( min-width: $md ) {
      margin-block-start: -4rem !important;
    }

    h2, p {
      text-align: center;

      &:last-child {
        margin-block-end: 2rem;
      }
    }

    .button.media-kit {
      --text-size: var( --type-p );

      background: var( --tart-orange );
      box-shadow: 1px 1px 0 var( --white );

      &:focus,
      &:hover {
        background: var( --tart-orange-dark-10 );
      }
    }
  }


  // Text section.
  &-section {
    p:last-child {
      margin-block-end: 0 !important;
    }

    @media screen and ( min-width: $md ) {
      grid-template-columns: 12rem 1fr;
    }
  }


  // Documents and people
  &-docs,
  &-people {
    @media screen and ( min-width: $md ) {
      display: grid;
      gap: 8rem;
      grid-template-columns: repeat( 2, 1fr );
    }
  }

  &-people {
    h2 {
      font-weight: bold;
      margin-block-end: 0;

      // Subtitle.
      & + p {
        margin-block-end: 0;
      }
    }

    img {
      margin-block-end: 1rem;
      max-width: 200px;
    }
  }


  // Social media icons for people.
  &-people-social {
    a {
      --text-color: var( --tart-orange );

      margin-inline-end: 0.5rem;
      text-decoration: none;
    }
  }

}
