/**
 * Pages: Plugin
 */

.plugin {

  .plugin-screenshots {
    margin-block-end: 2rem;

    @media screen and ( min-width: $md ) {
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr 1fr;
    }
  }

  .donate {
    border-bottom: 1px solid var( --white );
    padding-block-end: 1rem;

    p {
      --text-color: var( --white );

      margin-block-end: 0;
      text-align: center;
    }

    a {
      --link-bg-color: var( --black-light-50 );
      --text-color:    var( --black ); 
      --text-size:     var( --type-small );

      padding: 0.75rem 3rem;
      margin-block-start: 1rem;

      &:focus,
      &:hover {
        --link-bg-color: var( --timberwolf );
      }
    }
  }

}
