/**
 * Tags: Table.
 */

table {
  thead {
    --text-color: var(--white);

    background-color: var(--dark-purple);
  }

  th {
    --line-height: 1.5;

    padding-block: 0.5rem;
    padding-inline: 1rem;
  }

  td {
    --font-size: var(--type-p-smaller);
    --line-height: 1.8;

    padding-block: 1.5rem;
    padding-inline: 1rem;

    strong {
      --font-size: var(--type-p-bigger);
    }
  }

  // Zebra striping.
  tbody tr:nth-child(2n) {
    background-color: var(--battleship-gray-light-35);
  }



  // Customizations for small screens.
  @media screen and ( max-width: $screen-sm ) {
    thead {
      display: none;
    }

    tbody {
      tr {
        display: block;
        padding-block-end: 2rem;
      }
      
      td {
        display: block;
        margin-inline-start: 2rem;
        padding-block-end: 0;

        &:first-of-type {
          margin-inline-start: 0;
        }
      }
    }
  }
}