/**
 * Organisms: Site Header
 */

.site-header {

  border-bottom: 1px solid $site-header-border;
  margin-bottom: 4rem;
  margin-left: auto;
  padding: 0.5rem 1rem;
  width: calc( 100% - #{$logo-width} );

  @media screen and ( min-width: $md ) {
    margin-left: 10rem;
    padding-left: 0;
    width: calc( 100% - 10rem );
  }

}
