/**
 * Organisms: Site Header
 */

.site-header {

  margin-bottom: 4rem;
  padding: 0 1rem 1rem;
  text-align: center;

  @media screen and ( min-width: $md ) {
    display: grid;
    grid-template-columns: 300px 1fr;

    .nameplate {
      text-align: left;
    }

    nav {
      justify-self: end;
      margin-top: 1.75rem;
    }
  }

}
