/***
 * Pages: Book
 */

.book-page {

  /**
   * Top of page sections.
   */

  // Title.
  &-title {
    @include make-full-width;
    --text-color: var( --white );

    margin-block-end: 0;
    margin-block-start: -4.15rem;
    padding: 0.5rem 0;
    z-index: 1;

    &::before {
      background-color: var( --purple );
    }
  }


  // Featured image.
  &-featured-image {
    @include make-full-width;
    height: 40vw;
    
    @media screen and ( min-width: $md ) {
      height: 22vw;
    }

    &::before {
      background-image: url( '/assets/images/sweet-little-you-featured.jpg' );
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }



  /*
   * Content: Page intro.
   */
  &-intro {
    margin-block-start: 2rem;

    @media screen and ( min-width: $md ) {
      display: grid;
      gap: 3rem;
      grid-template-columns: 1fr 18.75rem;
    }

    // Text.
    p {
      --text-color: var( --purple );
      --text-size: var( --type-h4 );

      line-height: 1.65;
      margin-block-end: 2rem !important;
    }

    // Cover image sample link.
    &-sample {
      --overlay-opacity: 0;
      display: flex;
      position: relative;

      &:focus,
      &:hover {
        --overlay-opacity: 0.25;
      }

      &::before {
        background-color: rgba( #{ var( --black-rgb )}, #{ var( --overlay-opacity )} );
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 0.3s;
      }
      
      &::after {
        --text-color: var( --white );
        --text-size: var( --type-small );

        background-color: rgba( #{ var( --black-rgb )}, 0.75 );
        bottom: 0;
        content: 'View sample pages ↗';
        display: block;
        padding: 0.25rem 0;
        position: absolute;
        text-align: center;
        width: 100%;
      }

      // &:hover,
      // &:focus {

      // }
    }

    // Cover image.
    img {
      border: 0;
      margin: 0;
      max-width: none;
      width: 100%;
    }
  }


  /**
   * Order information section.
   */
  &-order {
    padding-block-end: 3rem;
    padding-block-start: 3rem;

    @media screen and ( min-width: $md ) {
      display: grid;
      gap: 1rem;
      grid-template-columns: 20rem 1fr;
    }

    p {
      margin: 0 !important;
    }

    h2 {
      @include monospace-bold;
      margin-block-start: 0;
      margin-block-end: 3rem;
    }

    &-buttons {
      p {
        --text-size: var( --type-small );

        display: grid;
        gap: 0.5rem;
        grid-template-columns: 1fr 1fr;
        text-align: center;
      }

      a {
        @extend .button;
        --text-size: 100%;
        box-shadow: 1px 1px 0 var( --white );
        margin-block-start: 0;
        background-color: var( --tart-orange-dark-5 );

        &:focus,
        &:hover {
          background-color: var( --tart-orange-dark-10 );
        }
      }
    }
  }

}
