/***
 * Book
 */

.book-page {

  /**
   * Top of page sections.
   */

  // Title.
  &-title {
    @include make-full-width;
    color: var( --white );
    margin-bottom: 0;
    margin-top: -4.15rem;
    padding: 0.5rem 0;
    z-index: 1;

    &::before {
      background-color: var( --purple );
    }
  }


  // Featured image.
  &-featured-image {
    @include make-full-width;
    height: 40vw;
    
    @media screen and ( min-width: $md ) {
      height: 22vw;
    }

    &::before {
      background-image: url( '/assets/images/sweet-little-you-featured.jpg' );
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }



  /*
   * Content: Page intro.
   */
  &-intro {
    margin-top: 2rem;

    @media screen and ( min-width: $md ) {
      display: grid;
      gap: 3rem;
      grid-template-columns: 1fr 18.75rem;
    }

    // Text.
    p {
      color: var( --purple );
      font-size: $type-h4;
      line-height: 1.65;
      margin-bottom: 2rem !important;
    }

    // Cover image.
    img {
      border: 0;
      margin: 0;
      max-width: none;
      width: 100%;
    }
  }


  /**
   * Order information section.
   */
  &-order {
    padding-bottom: 3rem;
    padding-top: 3rem;

    @media screen and ( min-width: $md ) {
      display: grid;
      gap: 1rem;
      grid-template-columns: 20rem 1fr;
    }

    p {
      margin: 0 !important;
    }

    h2 {
      @include monospace-bold;
      margin-top: 0;
      margin-bottom: 3rem;
    }

    &-buttons {
      p {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 1fr 1fr;
        font-size: 0.9rem;
        text-align: center;
      }

      a {
        @extend .button;
        margin-top: 0;
        background-color: var( --tart-orange );

        &:focus,
        &:hover {
          background-color: var( --tart-orange-dark-10 );
        }
      }
    }
  }

}
