/***
 * Pages: Reading list
 */

// Book counter

.book-count {
  --text-size: var( --type-small );
  margin-block-end: 0.5rem;

  @media screen and ( min-width: $md ) {
    text-align: right;
  }
}


// Align the heading and book counter with the table.
hr.books + h2,
.book-count {
  
  @media screen and ( min-width: $md ) {
    margin-inline-start: calc( var(--page-padding-inline-large) * -1 );
    left: 5vw;
    position: relative;
    width: 90vw;
  }

}


// Table.

.book-count + table {
  // Push up the table element directly after the book counter.
  margin-block-start: 0;

  // Small screens only.
  @media screen and ( max-width: $md ) {
    border: 0;

    thead {
      display: none;
    }

    tr {
      border-top: 1px solid var(--black);
      padding-inline: 0;
      white-space: normal;

      &:first-child {
        border-top: 0;
      }
    }

    td {
      display: block;
      margin: 1rem 0;

      &::after {
        content: '' !important;
      }

      &:nth-child(3)::before {
        @include sans-bold;
        content: 'Read: ';
        display: inline-block;
        padding-inline-end: 0.5rem;
      }
    }
  }


  // Larger screens only.
  @media screen and ( min-width: $md ) {
    margin-inline-start: calc( var(--page-padding-inline-large) * -1 );
    left: 5vw;
    position: relative;
    width: 90vw;
  }

}
  
