/**
 * Molecules: Archive container
 */

.archive-container {

  @media screen and ( min-width: $md ) {
    display: grid;
    gap: 6rem;
    grid-template-columns: 1fr 20rem;
    width: $archive-width;
  }

  section {
    margin-bottom: 0;
    padding-bottom: 0;
  }

}
