/**
 * Molecules: Article snip
 */

.article-snip {

  border-top: 1px solid var( --black );
  margin: 2.5rem 0;
  padding-block-start: 2.5rem;

  &:first-of-type {
    border-top: 0;
    margin-block-start: 1rem;
    padding-block-start: 0;
  }

  .categories .category:first-child {
    margin-inline-start: 0;
  }

  .title {
    --text-size: var( --type-h3 );

    line-height: 1.5;
    margin-block-end: 0;
    margin-block-start: 0.5rem;
  }

  .excerpt {
    margin-block-end: 0;
  }

}
