/**
 * Molecules: Book cover
 */

.book-cover-placeholder {

  background: $book-placeholder-bg;
  border: 0.25rem solid $book-placeholder-border;
  color: $book-placeholder;
  font-size: $type-h4;
  font-style: italic;
  line-height: 1.25;
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;

  &-float {
    @media screen and ( min-width: $md ) {
      float: left;
      margin-right: 2rem;
      padding: 6rem 2rem;
      width: 25%;
    }
  }

  &-full {
    margin: 2rem 0;
  }

}
