/**
 * Molecules: Category list
 */

.category-list {

  margin-right: 4rem;

  h2 {
    @include sans-bold;
    font-size: $type-h4;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-transform: capitalize;

    a {
      color: var( --black );
      text-decoration: none;
      transition: none;

      &::after {
        content: '▸';
        margin-left: 0.5rem;
      }

      &:focus,
      &:hover {
        border-bottom: 1px solid var( --black );
      }
    }
  }

  ul {
    margin-bottom: 3rem;
  }

  li {
    border-bottom: 1px solid var( --black );
    font-size: 0.9rem;
    list-style: none;
    margin: 0;
  }

  // Link to a category.
  &-link {
    display: block;
    padding: 0.4rem 0 0.4rem 0.5rem;
    text-decoration: none;

    &:focus,
    &:hover {
      background-color: var( --timberwolf );
    }

    &::after {
      content: '▸';
      margin-left: 0.5rem;
    }
  }

  // Placeholder for the current category.
  span {
    background-color: var( --purple-light-10 );
    color: var( --white );
    display: block;
    padding: 0.4rem 0 0.4rem 0.5rem;
  }

}
