/**
 * Molecules: Contact options
 */

.contact-options {

  display: grid;
  grid-template-columns: 5rem 1fr;
  margin-bottom: 4rem;

  dt {
    padding: 1rem 0 1rem 1rem;

    &::before {
      --text-color: var( --black-light-10 );
      --text-size:  var( --type-h2 );
    }

    &:nth-of-type(2n) {
      background: var( --timberwolf );
    }
  }

  dd {
    padding: 1.25rem 0 1rem 0;

    &:nth-of-type(2n) {
      background: var( --timberwolf );
    }
  }

  a {
    --text-color: var( --copper-dark-20 );
  }

}
