/**
 * Molecules: Home
 */

.home {

  // First (intro) paragraph.
  p:first-child {
    font-size: $type-h4;

    &::first-letter {
      background-color: $home-first-letter-bg;
      border-radius: 0.25rem;
      color: $home-first-letter;
      float: left;
      font-size: calc( #{$type-h1} * 1.5 );
      line-height: 1.2;
      margin-right: 0.5rem;
      margin-top: -2rem;
      padding: 0 0.25rem 2rem;
    }
  }

}
