/**
 * Molecules: Latest post
 */

.latest-post {

  border-left: 2rem solid;
  border-color: var( --copper );
  margin: 3rem 0;
  padding-block-end: 2rem;
  padding-inline-start: 1.5rem;
  padding-block-start: 1rem;

  // Side border colors.
  &.accessibility   { border-color: var( --cat-accessibility ); }
  &.development     { border-color: var( --cat-development ); }
  &.life            { border-color: var( --cat-life ); }
  &.pregnancy       { border-color: var( --cat-pregnancy ); }
  &.user-experience { border-color: var( --cat-user-experience ); }
  &.wordpress       { border-color: var( --cat-wordpress ); }
  &.writing         { border-color: var( --cat-writing ); }


  // Post meta information (categories and date).
  &-meta {
    --text-size: var( --type-small );

    margin-block-end: 0 !important;

    span {
      &::after {
        --text-size: 0.75rem;

        content: '&&';
        display: inline-block;
        margin: 0 0.1rem 0 0.35rem;
      }

      &:last-child::after {
        content: '';
      }
    }
  }


  // Post title.
  h3 {
    @include monospace;
    margin-block-end: 1rem;
    margin-block-start: 0;

    a {
      --text-color: var( --black );
    }
  }

}
