/**
 * Molecules: Latest Post
 */

.latest-post {

  border-left: 2rem solid;
  border-color: $post-cat-default;
  margin: 3rem 0;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-top: 1rem;

  // Side border colors.
  &.accessibility   { border-color: $post-cat-a11y; }
  &.development     { border-color: $post-cat-dev; }
  &.life            { border-color: $post-cat-life; }
  &.pregnancy       { border-color: $post-cat-pregnancy; }
  &.user-experience { border-color: $post-cat-user-experience; }
  &.wordpress       { border-color: $post-cat-wordpress; }
  &.writing         { border-color: $post-cat-writing; }


  // Post meta information (categories and date).
  &-meta {
    font-size: 0.9rem;
    margin-bottom: 0 !important;

    span {
      &::after {
        content: '&&';
        display: inline-block;
        font-size: 0.75rem;
        margin: 0 0.1rem 0 0.35rem;
      }

      &:last-child::after {
        content: '';
      }
    }
  }


  // Post title.
  h3 {
    @include monospace;
    margin-bottom: 1rem;
    margin-top: 0;

    a {
      color: $latest-post-link;
    }
  }

}
