/**
 * Molecules: Nav, primary
 */

.nav-primary {

  margin: 0.5rem 0 2.5rem 0;
  text-align: center;

  @media screen and ( min-width: $lg ) {
    text-align: left;
  }

  li {
    --text-size: var( --type-small );

    display: inline-block;
    list-style: none;
    margin: 0 1.5rem 0.5rem 0;
    text-transform: lowercase;

    &::before {
      content: '/';
    }
  }

  a {
    @include monospace;
    --text-color: var( --copper-dark-15 );
  }

  .current {
    @include monospace-bold;
    text-decoration: none;
  }

}
