/**
 * Molecules: Nav, Primary
 */

.nav-primary {

  margin: 0.5rem 0 2.5rem 0;

  li {
    display: inline-block;
    font-size: 1rem;
    list-style: none;
    margin: 0 1rem 0 0;
    text-transform: lowercase;

    &::before {
      content: '/';
    }
  }

  a {
    @include monospace;
    color: $nav-primary;
  }

  .current {
    @include monospace-bold;
    font-size: 1.1rem;
    text-decoration: none;
  }

}
