/**
 * Molecules: Pagination
 */

.pagination {

  padding: 1.5rem 0 0.5rem 0;

  // All pagination items, linked or not.
  a,
  span {
    @include monospace;
    border-radius: 0.1rem;
    color: var( --copper-dark-30 );
    display: inline-block;
    font-size: 0.9rem;
    margin: 0 0 1rem;
    padding: 0.25rem 0.55rem;
    text-decoration: none;

    &:first-child {
      margin-left: 0;
      padding-left: 0;
    }
  }

  a:focus,
  a:hover {
    background: var( --copper );
    color: var( --white );
  }

  // Linked previous or next buttons.
  .square {
    background-color: var( --purple );
    color: var( --white );
  }

  // Unlinked previous or next buttons.
  .outline {
    border: 1px solid var( --purple );
  }

  // Current page item.
  .current {
    background-color: var( --copper-dark-10 );
    color: var( --white );
  }

}
