/**
 * Molecules: Post Share
 */

.post-share {

  margin-top: 4rem;
  padding: 2rem 0;
  position: relative;

  &-link {
    --link-bg-color: var( --purple );
    --link-color: var( --white );

    border-radius: 0.25rem;    
    font-size: 0.9rem;
    margin-right: 1.5rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;

    &:focus,
    &:hover {
      --link-bg-color: var( --copper-dark-10 );
    }
  }

  .icon {
    margin-left: 3px;
    position: relative;
    top: 1px;

    &::before {
      margin-right: 0;
    }
  }

}
