/**
 * Molecules: Post meta
 */

.post-meta {

  margin: -4rem 0 4rem;
  padding: 2rem 0 4rem;
  position: relative;

  .categories a {
    margin-inline-start: 0;
  }

  h1 {
    margin-block-start: 0.5rem;
  }

}
