/**
 * Molecules: Post share
 */

.post-share {

  --text-size: var( --type-small );
  position: relative;

  &-link {
    --link-bg-color: var( --purple );
    --text-color:    var( --white );
    --text-size:     var( --type-small );

    border-radius: 0.25rem;    
    margin-inline-start: 1rem;
    padding: 0.25rem 0.75rem;
    text-decoration: none;

    &:focus,
    &:hover {
      --link-bg-color: var( --copper-dark-15 );
    }
  }

  .icon {
    margin-inline-start: 3px;
    position: relative;
    top: 1px;

    &::before {
      margin-inline-end: 0;
    }
  }

}
