/**
 * Molecules: Review
 */

.review {

  &-container {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
    //grid-template-columns: repeat( auto-fit, minmax( 15rem, 1fr ) );
    margin-top: 2rem;
  }


  &-quote {
    background: rgba( #{ var( --white-rgb ) }, 0.85 );
    border: 2px solid var( --green-dark-20 );
    margin: 0;
    padding: 2rem;
    position: relative;

    &::before {
      @extend .icon-chat;
      @include icons;
      color: rgba( darken($copper, 10), 0.1 );
      display: inline;
      font-size: 10rem;
      left: -1rem;
      position: absolute;
      top: -1rem;
    }

    p {
      @include sans-italic;
      font-size: 1.1rem;
    }

    cite {
      border-top: 1px solid var( --black-light-20 );
      display: block;
      font-size: 0.9rem;
      font-style: normal;
      margin-top: 3rem;
      padding-top: 0.5rem;
    }
  }

}