/**
 * Molecules: Review
 */

.review {

  &-container {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
    //grid-template-columns: repeat( auto-fit, minmax( 15rem, 1fr ) );
    margin-top: 2rem;
  }


  &-quote {
    background: $review-bg;
    border: 2px solid $review-border;
    margin: 0;
    padding: 2rem;
    position: relative;

    &::before {
      @extend .icon-bubbles;
      @include icons;
      color: rgba( $review-quote, 0.1 );
      display: inline;
      font-size: 10rem;
      left: -1rem;
      position: absolute;
      top: -1rem;
    }

    p {
      @include sans-italic;
      font-size: 1.1rem;
    }

    cite {
      border-top: 1px solid lighten( $black, 20% );
      display: block;
      font-size: 0.9rem;
      font-style: normal;
      margin-top: 3rem;
      padding-top: 0.5rem;
    }
  }

}