/**
 * Molecules: Review
 */

.review {

  &-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat( auto-fit, minmax( 15rem, 1fr ) );
    margin-top: 2rem;
  }


  &-quote {
    background: $review-bg;
    border: 2px solid $review-border;
    margin: 0;
    padding: 2rem;
    position: relative;

    &::before {
      @extend .icon-bubbles;
      @include icons;
      color: rgba( $review-quote, 0.5 );
      display: inline;
      font-size: 10rem;
      left: -1rem;
      position: absolute;
      top: -1rem;
    }

    p {
      @include sans;
      font-size: 0.9rem;
    }

    cite {
      font-size: 0.9rem;
    }
  }

}