/**
 * Molecules: Tagline
 */

.tagline {

  @include monospace;
  --text-color: var( --black-light-20 );
  --text-size:  var( --type-small );

  line-height: 1;
  margin-bottom: 0.75rem;
  margin-top: 0.25rem;
  text-align: center;
  text-transform: lowercase;

  @media screen and ( min-width: $md ) {
    text-align: left;

    // Add square brackets around the tagline.
    &::before,
    &::after {
      --text-color: var( --black-light-20 );
      --text-size:  var( --type-h4 );

      line-height: 1;
    }

    &::before { content: '['; margin-right: -0.5rem; }
    &::after  { content: ']'; margin-left:  -0.5rem; }
  }

}
