/**
 * Molecules: Work Links
 */

.work-links {
  padding: 3rem 0;

  @media screen and ( min-width: $lg ) {
    padding-right: 4rem;
    width: $archive-width;
  }

  ul {
    margin: 0;

    @media screen and ( min-width: $md ) {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 1fr 1fr;
    }

    @media screen and ( min-width: $lg ) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  li {
    background-color: var( --purple-dark-10 );
    list-style-type: none;
    margin: 0;
    text-align: center;
    transition: all 0.3s;

    &:focus,
    &:hover {
      background-color: var( --copper-dark-10 );
    }

    a {
      color: var( --actual-white );
      display: block;
      padding: 2rem;
      text-decoration: none;

      &::before {
        display: block;
        font-size: $type-h2;
      }
    }
  }

}
