/**
 * Molecules: Work links
 */

.work-links {
  padding-block: 2rem;

  ul {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0;
  }

  li {
    --work-links-bg: var( --purple-dark-10 );
    --work-links-hover: var( --copper-dark-15 );
    background-color: var( --work-links-bg );
    border-radius: 0.25rem;
    list-style-type: none;
    margin: 0;
    text-align: center;
    transition: all 0.3s;

    &:focus,
    &:hover {
      background-color: var( --work-links-hover );
    }

    &:first-of-type {
      --work-links-bg: var( --copper-dark-15 );
      --work-links-hover: var( --blue );
    }

    a {
      --link-type-size: var( --type-small );
      --text-color:     var( --actual-white );

      display: block;
      padding: 1rem;
      text-decoration: none;

      &::before {
        --text-size: var( --type-h2 );

        display: block;
        line-height: 1.2;
        text-align: center;
        width: 100%;
      }
    }
  }

}
