/**
 * Molecules: Archive container
 */

.archive-container {

  @media screen and ( min-width: $md ) {
    display: grid;
    grid-gap: 6rem;
    grid-template-columns: 1fr 20rem;
    width: $archive-width;
  }

}
