/**
 * Molecules: Nameplate
 */

.nameplate {

  line-height: 1;
  margin-bottom: 0;
  padding-top: $logo-size * 3; // Move to account for absolutely positioned logo.


  a {
    @include sans;
    color: $nameplate-color;
    font-size: $type-h1;
    text-decoration: none;

    // The logo gets added within the link, but before the link text, so it
    // does not appear in the DOM (it's decorative), but it is still linked.
    &::before {
      background-color: $nameplate-logo-bg;
      background-image: url('../images/logo-white.gif');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: inline-block;
      height: $logo-size * 2;
      left: 0;
      border-left: 1rem solid $nameplate-logo-bg;
      border-right: 1rem solid $nameplate-logo-bg;
      position: absolute;
      top: 0;
      width: $logo-size * 2;
    }

  }

}
