/**
 * Molecules: Nav, Primary
 */

.nav-primary {

  li {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-right: 1.5rem;

    &::before {
      content: '/';
    }
  }

  a {
    color: $nav-primary-link;
    padding-bottom: 0.25rem;

    &.current {
      color: $purple;
      font-family: 'Raleway-Bold', sans-serif;
      font-weight: bold;
    }
  }

}
