/**
 * Tags: Code
 */

code {
  --font-weight: bold;
  --text-color: var(--delft-blue-light-10);


  // Spacing for stand-alone code blocks.
  pre & {
    background-color: var(--silver-light-15);
    display: inline-block;
    margin-block-end: 2.5rem;
    margin-block-start: 1rem;
    padding: 1rem;
    width: 100%;
  }


  // Variation: Highlight block.
  .highlight & {
    --text-color: var(--white);
  }
}