/**
 * Layout: Body
 */

body {

  background-color: var( --white );
  overflow-x: hidden;

  // Add a box top-border to the page.
  &::before {
    background-color: var( --purple );
    background-image: repeating-linear-gradient(
      180deg,
      var( --purple ),
      var( --purple )     0.25rem,
      var( --timberwolf ) 0.25rem,
      var( --timberwolf ) 0.25rem * 2,
      var( --copper )     0.25rem * 2,
      var( --copper )     0.25rem * 3,
      var( --champagne )  0.25rem * 3,
      var( --champagne )  0.25rem * 4 );
    content: '';
    display: block;
    height: $logo-size-half;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

}
