/**
 * Layout: Main
 */

main {

  margin: 0 var( --page-padding-inline-small );

  @media screen and ( min-width: $md ) {
    margin-left: var( --page-padding-inline-large );
    max-width: $max-width;
  }

  p:last-child {
    margin-bottom: 4rem;
  }

}
