/**
 * Layout: Section
 */

section {

  margin-block: 1rem;
  padding-block: 2rem;
  position: relative;

  &:first-of-type {
    &.has-background {
      margin-top: 4rem;
    }
  }

  // Heading overrides.
  h2 {
    margin-top: 2rem;
  }

}
