/**
 * Molecules: Archive container
 */

.archive-container {

  @include make-full-width-right;

  @media screen and ( min-width: $lg ) {
    display: grid;
    gap: 6rem;
    grid-template-columns: 1fr 20rem;
  }

  section {
    margin-block-end: 0;
    padding-block-end: 0;
  }

}
