/**
 * Molecules: Category list
 */

.category-list {

  margin-inline-end: 4rem;

  h2 {
    --text-size: var( --type-h4 );

    font-weight: bold;
    margin-block-end: 0.5rem;
    margin-block-start: 1rem;
    text-transform: capitalize;

    a {
      --text-color: var( --black );

      text-decoration: none;
      transition: none;

      &::after {
        content: '▸';
        margin-inline-start: 0.5rem;
      }

      &:focus,
      &:hover {
        border-bottom: 1px solid var( --black );
      }
    }
  }

  ul {
    margin-block-end: 3rem;
  }

  li {
    --text-size: var( --type-small );

    border-bottom: 1px solid var( --black );    
    list-style: none;
    margin: 0;
  }

  // Link to a category.
  &-link {
    display: block;
    padding: 0.4rem 0 0.4rem 0.5rem;
    text-decoration: none;

    &:focus,
    &:hover {
      background-color: var( --timberwolf );
    }

    &::after {
      content: '▸';
      margin-inline-start: 0.5rem;
    }
  }

  // Placeholder for the current category.
  span {
    --text-color: var( --white );

    background-color: var( --black-light-10 );
    display: block;
    padding: 0.4rem 0 0.4rem 0.5rem;
  }

}
