/**
 * Molecules: Footnotes
 */

.footnotes {

  border-block-start: 1px solid var( --black );
  margin-block-start: 4rem;
  padding-block: 1rem;

  // Yes, a `<p>` inside a `<li>` because that is how kramdown
  // writes out footnotes. I don't like it either, but here
  // we are.
  li p {
    --text-size: var( --type-small );
  }

}