{% include site-header.html %}

<main class="blog">

  <h1>
    Category: 
    {{ page.category | capitalize | replace: "-", " " | replace: "Wordpress", "WordPress" }}
  </h1>

  {{ page.content }}

  <div class="blog-list">
    <section aria-label="All articles about {{ page.category }}">
      {% for post in site.categories[page.category] %}
        {% include post-excerpt.html %}
      {% endfor %}
    </section>

    {% include category-list.html %}
  </div>

  {% if paginator.total_pages > 1 %}
    {% include pagination.html %}
  {% endif %}

</main>

{% include site-footer.html %}
