{% include site-header.html %}

<main id="main" class="main">

  <h1>
    I write about...
    {{ page.category | capitalize | replace: "-", " " | replace: "Wordpress", "WordPress" }}
  </h1>

  {{ page.content }}

  <div class="archive-container">
    <section aria-label="All articles about {{ page.category }}">
      {% for post in site.categories[page.category] %}
        {% include article-snip.html %}
      {% endfor %}
    </section>

    {% include category-list.html %}
  </div>

</main>

{% include site-footer.html %}
