{% include site-header.html %}

<main class="blog blog-pregnancy">

  <h1>
    My Solo-By-Choice Pregnancy Story
  </h1>

  <div class="blog-list">
    <section aria-label="All pregnancy-related sub-categories">
      <p>How Amelia Jade was conceived and born, a story in five acts.</p>

      <ol>
        <li class="blog-pregnancy-tag">
          <a href="conception/">Act 1: Planning</a>
          <span>
            Conceiving my daughter, solo, with the help of an anonymous donor,
            some amazing doctors, and a fertility clinic.
          </span>
        </li>

        <li class="blog-pregnancy-tag">
          <a href="first-trimester/">Act 2: Architecture & Design</a>
          <span>
            The first trimester of my pregnancy, November through December 2017.
          </span>
        </li>

        <li class="blog-pregnancy-tag">
          <a href="second-trimester/">Act 3: Development</a>
          <span>
            The second trimester of my pregnancy, January through early May 2018.
          </span>
        </li>

        <li class="blog-pregnancy-tag">
          <a href="third-trimester/">Act 4: Release Candidate</a>
          <span>
            The third trimester of my pregnancy, mid-May through late July 2018.
          </span>
        </li>

        <li class="blog-pregnancy-tag">
          <a href="postpartum/">Act 5: Production Release!</a>
          <span>
            Giving birth and a brief glimpse into my postpartum experience. 
            Buckle up!
          </span>
        </li>
      </ul>
    </section>

    {% include category-list.html %}
  </div>

</main>

{% include site-footer.html %}
