{% include site-header.html %}

<main id="main">

  <h1>{{ page.title }}</h1>

  <div class="post-meta has-background timberwolf">
    <p class="date">
      {{ page.date | date_to_long_string }}
    </p>

    <p class="categories">
      <b>Topics:</b>
      {% for category in page.categories %}
        {% assign mainCategory = category %}
        <a href="/blog/{{category | replace: ' ', '-' }}" class="category">{{ category | replace: "-", " " }}</a>
      {% endfor %}
      {% for tag in page.tags %}
        <a href="/blog/{{ mainCategory }}/{{ tag | replace: ' ', '-' }}" class="category">{{ tag | replace: "-", " "  }}</a>
      {% endfor %}
    </p>
  </div>

  {{ content }}

</main>

{% include site-footer.html %}
