{% include site-header.html %}

<main id="main" class="main">

  <h1>
    My Pregnancy Story:
    {{ page.category | capitalize | replace: "-", " " }}
  </h1>

  <p>
    {{ page.content }}
    <i><a href="../">(Or, go back to see all pregnancy articles.)</a></i>
  </p>

  <section aria-label="All articles about {{ page.category }}">
    {% assign pregnancy_posts = site.tags[page.category] | reverse %}
    {% for post in pregnancy_posts %}
      {% include article-excerpt.html omit_categories="true" %}
    {% endfor %}
  </section>

</main>

{% include site-footer.html %}
