{% include site-header.html %}

<main id="main">

  <h1>
    My Pregnancy Story:
    {{ page.category | capitalize | replace: "-", " " }}
  </h1>

  <p>
    {{ page.content }}
    <i><a href="../">(Or, go back to see all pregnancy articles.)</a></i>
  </p>

  <section aria-label="All articles about {{ page.category }}">
    {% for post in site.tags[page.category] %}
      {% include article-snip.html %}
    {% endfor %}
  </section>

  {% include newsletter-signup.html %}

</main>

{% include site-footer.html %}
