/**
 * Base: Sizes
 */

// Screen sizes
$screen-md:                  940px;

// Line length, based on medium screen size.
$max-width:                  768px;

// Page padding.
$page-padding-inline-small:  2rem;
$page-padding-inline-large:  calc( (100vw - #{$screen-md} - 2rem) / 2 );
