/**
 * Base: Typography
 */

:root,
::after,
::before {
  // Font sizes, based on the type scale major third.
  --type-nameplate: 3.815rem;
  --type-h1:        2.441rem;
  --type-h2:        1.953rem;
  --type-h3:        1.563rem;
  --type-h4:        1.25rem;
  --type-p:         1rem;
  --type-small:     0.9rem;

  --line-height:    2;

  // Baseline typography.
  --font-family:   'PT Mono', monospace;
  --font-size:     16px;
  --text-color:    var( --black );
  --text-weight:   400;
}


b,
strong {
  --font-weight: bold;
}